<% if (typeof POST !== 'undefined' && POST.logout) { %>
<form method="post" action="<%= POST.logout %>" class="logout-form<%= typeof logoutClass !== 'undefined' ? ' ' + logoutClass : '' %>">
  <input type="hidden" name="_csrf" value="<%= typeof csrfToken !== 'undefined' ? csrfToken : '' %>" />
  <button type="submit" class="btn-logout<%= typeof btnClass !== 'undefined' ? ' ' + btnClass : '' %>">
    <%= typeof logoutLabel !== 'undefined' ? logoutLabel : 'Keluar' %>
  </button>
</form>
<% } %>